*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-dark: #262e30;
  --color-light: #f3f3f3;
  --color-red: #eb3d44;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url('./assets/fonts/futura/Futura-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url('./assets/fonts/futura/Futura-medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url('./assets/fonts/futura/Futura-bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Futura;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
